.welcome-module-wrapper { 
    height: 100vh;
}

.welcome-module-parallax {
    height: 100%
}

.welcome-module-content { 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}