<form id="contactForm" class="first-form first-form-redesign" novalidate="">
    <ol>
        <li class="form-group">
          <input id="phone" name="phone" type="text" placeholder="+38 ( _ _ _ ) _ _ _-_ _-_ _" required="" data-validation-required-message="Введите свой телефон">
          <p class="help-block text-danger"></p>
        </li>
        <li class="form-group">
            <button class="btn btn-md btn-primary bt-popup bt-first-form bt-first-form-redesign">ПОЛУЧИТЬ <br> КОНСУЛЬТАЦИЮ</button>
        </li>
    </ol>
</form>